@media only screen and (max-width:769px){
  .intro-card {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .templates-support, .templates-list {
    width: 100%!important;
    align-items: center;
  }


}
@media only screen and (min-width:769px){
  .intro-section {
    background: url('../../images/intro.png') no-repeat center;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 0 10.5vw 17.7vh 10.5vw;
  }

  .intro-section .row {
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }

  .intro-card {
    max-width: 27.3%;
    min-height: 54.1vh;
    background: #fff;
    margin-top: 28.2vh;
    padding: 30px;
  }

  .template-section {
    padding-right: 0!important;
  }
}
/* EINDE OUDE NAVIGATIE CSS */

.intro-card p {
  font-weight: 500;
}

.intro-steps li {
  min-height: 45px;
  margin: 6.5px auto;
  padding: 7px;
}

.intro-steps li * {
  margin: 0;

}

.intro-steps.links li {
  padding: 15px;
}


.stats-section {
  background: url('../../images/stats.png') no-repeat center;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 5% 10%;
  align-items: center;
  margin: 0;
}

.disc {
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
  line-height: 200px;
}

.stat > h4 {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}

.quote-section {
  width: 70%;
  margin: 0 auto;
  padding: 5% 0;
}

.quote {
  font-family: 'impact', sans-serif;
  color: #12b287;
  font-size: 10em;
  width: 100%:
}

.quote em {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2rem!important;
  display: block;
}

.author, .quote-r {
  text-align: right;
}

.author {
  width: 100%;
  text-align: right;
  display: block;
  color: #747474;
  font-size: 2rem;
}

.author:before {
  content: "- ";
}

.quote:before {
  content: '“';
  position: absolute;
  left: 12%;
  line-height: 3.5rem;
}

.quote:after {
  content: '”';
  position: absolute;
  right: 11%;
  line-height: 3.5rem;
}

.row.template-section {
  padding: 2.9vh 7.5%;
  background-color: #f1f1f1;
  margin: 0 auto;
}

.templates-support {
  width: 30%;
  align-items: center;
}

.template {
  width: 25%;
  padding: 0;
  background: url("http://image.slidesharecdn.com/defa8171-e72a-4acd-93fa-db40d943e71f-150227034518-conversion-gate01/95/cva4-1-638.jpg?cb=1425030336");
  background-size: contain;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 3vh;
}

.template div:first-child {
  height: 14%;
  width: 70%;
  background-color: rgba(97,97,97,.8);
  border-radius: 7px;
  bottom: 8%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  font-size: 2vw;
  line-height: 150%;
  font-weight: 300;
}

.template div:nth-child(2) {
  background: #ff4f1a;
  height: 120%;
  color: #fff;
  position: absolute;
  left: 85%;
  bottom: 22%;
  transform: translateY(25%);
  text-align: center;
  line-height: 110%;
  font-size: 3vw;
  border-radius: 50%;
}

.templates-list {
  width: 70%;
}

.templates-list .row {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.row.user-reviews {
  min-height: 30vh;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #ff4f1a;
}

.carousel-indicators li {
  border-color: #12b287;
}

.carousel-indicators li.active {
  background-color: #12b287;
}

.carousel-inner {
  margin-top: 1%;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  margin: 0 auto;
  margin-bottom: 1%;
}

.item .quote {
  font-family: 'impact', sans-serif;
  color: #12b287;
  font-size: 5em;
  width: 100%:
}

.item .quote em {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.2rem!important;
  display: block;
}

.item .author, .quote-r {
  text-align: center;
}

.item .author {
  width: 100%;
  text-align: center;
  display: block;
  color: #747474 !important;
  font-size: 1rem;
  font-weight: 400 !important;
}

.item .author:before {
  content: "- ";
}

.item .quote:before {
  content: '“';
  position: absolute;
  left: 20%;
  line-height: 4rem;
}

.item .quote:after {
  content: '”';
  position: absolute;
  right: 20%;
  line-height: 1rem;
}
