#contImg {
  background-image: url('../../images/login.view.jpg');
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 769px){
  .header_section{
    margin-top: 6vh !important;
  }
}
