#contImg {
  background-image: url('../../images/login.view.jpg');
  background-size: cover;
  background-position: center;
}

.form div {
  padding: 5% 0;
}

@media only screen and (max-width: 769px){
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh !important;
  }
}
