html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #12b287;
}

h1 {
  color: #fff;
}

.logo {
  height: 200%;
  display: inline;
  padding-right: 2vw;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
}

/* CSS OUDE NAVIGATIE */
.navbar, .navbar-default {
  min-height: 0;
  border: none;
  margin: 0;
}
nav .container-fluid {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: rgba(18, 178, 135, 0.5);
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff!important;
  padding: 0 7.7%;
}

.navbar-brand h1 {
  display: inline;
  vertical-align: middle;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none!important;
}

@media only screen and (max-width:376px) {
  .intro-section {
    margin-top: 8vh;
  }
}

@media only screen and (max-width:769px){
  body {
    padding-top: 9vh;
  }

  .intro-section {
    margin-top: 3vh;
  }

  .navbar-header {
    float: none;
    padding: 0 !important;
  }

  .navbar-left,.navbar-right {
    float: none !important;
    widht: 100%;
    margin-left: 0 !important;
    height: 100%;
  }

  .navbar-right > li {
    height: 10vh !important;
  }

  .navbar-toggle {
    display: block;
    border: none;
  }

  .navbar-toggle:focus {
    background: none !important;
  }

  .navbar-toggle:hover {
    background: none !important;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    background-color: white;
    margin-left: -10vw !important;
    margin-right: -10vw !important;
    padding-left: 5vw !important;
    overflow: hidden;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display:block !important;
    left: 0 !important;
    height: 100vh !important;
  }

  ul.nav {
    background-color: rgba(255, 255, 255, 0.9);
  }

  #collapsed-navbar {
    margin-top: 5vh;
  }

  a.navbar-brand > h1 {
    margin-top: 0 !important;
  }

  .icon-bar {
    background-color: #ffffff !important;
  }

  nav .container-fluid {
    background-color: #88d8c3;
  }
}

@media only screen and (min-width:769px){

  .collapse ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
  }

  .collapse ul li{
    display: inline-flex;
    white-space: nowrap;
    font-size: 15px;
  }

  .collapse ul li a{
    padding: 0 10px;
    height: 100%;
    color: #fff!important;
    border-top: 3px rgba(0, 0, 0, 0) solid;
  }

  .collapse ul li a:hover{
    text-decoration: none;
    border-top: 3px #ffaf1a solid;
    background: none;
  }

  .collapse ul li.current a {
    border-top: 3px #ffaf1a solid;
  }
}

input[type=text], input[type=password], select {
  background: #e5e5e5;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  color: #666;
  padding: 0.5rem;
  margin: 1rem auto;
}

input[type=submit], .wideButton {
  text-transform: uppercase;
  background: #ff4f1a;
  border: none;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  color: #fff;
  height: 45px;
  margin: 6.5px auto;
  line-height: 45px;
}

select {
  background: #e5e5e5 !important;
  border: none !important;
  font-weight: 300 !important;
  width: 100% !important;
  color: #a9a9a9 !important;
  font-size: 1rem!important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.row.header_section {
  height: 30vh;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 80px;
}

.row.header_section .col-xs-12 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  padding: 5vh 10%;
}

.row.footer {
  width: 150%;
  height: 10vh;
  padding: 2%;
  background: #29BA93;
  color: #fff;
  clear: both;
}
