.row {
  padding: 0 5%;
}

ul.hide {
  display: none;
}

ul.concept {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 0;
}

li.title {
  color: #777777;
  font-weight: 500;
  font-size: .8em;
  text-transform: capitalize;
}

li.content {
  padding-bottom: 1em;
  font-size: 1.4em;
  color: #000;
}
#contImg {
  background-image: url("../../images/profile.jpg");
  background-position: center;
  background-size: cover;
}
