#contImg {
  background-image: url('../../images/register.view.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  color: ##12b287;

}

h2 > center > small {
  color: #fff !important;
}

@media only screen and (max-width: 769px){
  body {
    margin: 0;
    padding: 0;
  }
}
